Repository athayogaio/pwa, pull requests merged in 2022-12, with the labels that each got.

#62 Add lessons creation
  backend/core/seeders/user_seeder.py
  backend/lessons/app/handlers/lesson_handlers.py
  backend/lessons/app/http/requests/lesson_requests.py
  backend/lessons/app/http/resources/lesson_resources.py
  backend/lessons/app/repositories/schedule_repository.py
  backend/lessons/app/services/lesson_service.py
  backend/lessons/app/services/types.py
  backend/lessons/migrations/0005_alter_lesson_description.py
  backend/lessons/migrations/0006_lesson_deadline_datetime_lesson_link_and_more.py
  backend/lessons/migrations/0007_remove_lesson_cost_alter_lesson_price.py
  backend/lessons/models.py
  backend/lessons/seeders/lesson_seeder.py
  backend/lessons/urls.py
Labels: Backend

#56 frontend add splashscreens
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/change-password/index.jsx
  frontend/src/app/components/error/index.jsx
  frontend/src/app/components/log-in-blocked/index.jsx
  frontend/src/app/components/log-in/index.jsx
  frontend/src/app/components/logo/index.jsx
  frontend/src/app/components/password-recovery/index.jsx
  frontend/src/app/components/readme.md
  frontend/src/app/components/sign-up-confirm/index.jsx
  frontend/src/app/components/sign-up/index.jsx
  frontend/src/app/components/splash-screens/index.jsx
  frontend/src/app/index.jsx
  frontend/src/app/layouts/index.jsx
  frontend/src/app/pages/auth/login/index.jsx
  frontend/src/app/pages/auth/register/index.jsx
  frontend/src/app/pages/change-password/index.jsx
  frontend/src/app/pages/password-recovery/index.jsx
  frontend/src/app/pages/welcome/index.jsx
  frontend/src/app/theme/style.scss
  frontend/src/assets/public/facebook.svg
  frontend/src/assets/public/google.svg
  frontend/src/assets/public/letter.svg
  frontend/src/assets/public/log-in-blocked.svg
  frontend/src/assets/public/logo.svg
  frontend/src/assets/public/splash1.svg
  frontend/src/assets/public/splash2.svg
  frontend/src/assets/public/splash3.svg
  frontend/src/assets/public/vk.svg
  frontend/src/assets/public/yandex.svg
Labels: Frontend

#67 fix react-swipeable-views peer deps conflict
  frontend/package-lock.json
  frontend/package.json
Labels: Frontend

#70 Build fixes
  Jenkinsfile
  backend/Pipfile.lock
  docker-compose.yml
  frontend/Dockerfile
Labels: DevOps, Bugfix

#77 Add admin captcha
  backend/.env.example
  backend/Pipfile
  backend/Pipfile.lock
  backend/base/__init__.py
  backend/base/admin.py
  backend/base/apps.py
  backend/base/migrations/__init__.py
  backend/base/models.py
  backend/base/templates/admin/login.html
  backend/base/tests.py
  backend/base/views.py
  backend/core/urls.py
  backend/server/settings.py
Labels: Backend, Feature

#68 add registration and login
  frontend/src/app/components/log-in/index.jsx
  frontend/src/app/components/sign-up/index.jsx
  frontend/src/app/core/slices/auth/index.js
  frontend/src/app/pages/profile/index.jsx
  frontend/src/app/services/auth/index.js
  frontend/src/app/services/auth/utils/index.js
  frontend/src/app/utils/providers/auth/index.jsx
Labels: Frontend, Feature

#76 Add an opportunity to add/delete lessons to/from favorites
  backend/Pipfile.lock
  backend/core/app/handlers/user_handlers.py
  backend/core/app/repositories/user_repository.py
  backend/core/app/services/user_services.py
  backend/core/migrations/0007_user_favorites.py
  backend/core/migrations/0008_remove_user_favorites.py
  backend/core/models.py
  backend/core/urls.py
  backend/lessons/app/handlers/comment_handler.py
  backend/lessons/app/handlers/lesson_handlers.py
  backend/lessons/app/http/requests/comment_requests.py
  backend/lessons/app/http/requests/lesson_requests.py
  backend/lessons/app/repositories/lesson_repository.py
  backend/lessons/app/services/lesson_service.py
  backend/lessons/migrations/0009_lesson_favorites.py
  backend/lessons/models.py
  backend/lessons/urls.py
Labels: Backend, Feature

#84 added profile page with styles and images
  frontend/src/app/components/lesson/index.jsx
  frontend/src/app/components/menu/index.jsx
  frontend/src/app/components/profile/index.jsx
  frontend/src/app/components/profile/index.scoped.scss
  frontend/src/app/components/splash-screens/index.jsx
  frontend/src/app/index.jsx
  frontend/src/app/layouts/profile/index.jsx
  frontend/src/app/pages/calendar/index.jsx
  frontend/src/app/pages/profile/index.jsx
  frontend/src/assets/public/profile_avatar.jpg
  frontend/src/assets/public/profile_background.jpg
  frontend/src/assets/public/profile_logo.png
Labels: Frontend, Feature

#86 new file: frontend/src/app/components/searching/index.jsx
  frontend/src/app/components/lesson-card/index.jsx
  frontend/src/app/components/menu/index.jsx
  frontend/src/app/components/schedule-lesson-card/index.jsx
  frontend/src/app/index.jsx
  frontend/src/app/pages/calendar/index.jsx
  frontend/src/app/pages/search-lessons/index.jsx
Labels: Frontend

#81 add teacher questionnaire
  backend/core/app/handlers/teachers_questuonnaire_handlers.py
  backend/core/app/handlers/user_handlers.py
  backend/core/app/http/requests/teachers_questuonnaire_requests.py
  backend/core/app/http/resources/teachers_questuonnaire_resources.py
  backend/core/app/repositories/teachers_questionnaire_repository.py
  backend/core/app/services/teachers_questuonnaire_services.py
  backend/core/app/services/types.py
  backend/core/models.py
  backend/core/urls.py
  backend/core/views.py
Labels: Backend

#90 Frontend. Menu component styling
  frontend/src/app/components/log-in/index.jsx
  frontend/src/app/components/menu/index.jsx
  frontend/src/app/components/sign-up/index.jsx
  frontend/src/assets/public/facebook.svg
  frontend/src/assets/public/google.svg
  frontend/src/assets/public/menu_logo.svg
  frontend/src/assets/public/vk.svg
  frontend/src/assets/public/yandex.svg
Labels: Frontend

#88 modified: frontend/src/app/index.jsx
  frontend/src/app/components/search/index.jsx
  frontend/src/app/index.jsx
  frontend/src/app/layouts/profile/index.jsx
  frontend/src/app/pages/calendar/index.jsx
  frontend/src/app/pages/search-lessons/index.jsx
  frontend/src/app/theme/style.scss
  frontend/src/assets/public/profile_calendar.png
Labels: Frontend

#75 Payments
  .gitignore
  backend/.env.example
  backend/Pipfile
  backend/Pipfile.lock
  backend/core/app/handlers/payments_handlers.py
  backend/core/app/repositories/payment_repository.py
  backend/core/app/services/payment_service.py
  backend/core/app/services/types.py
  backend/core/app/services/user_services.py
  backend/core/app/utils/exceptions.py
  backend/core/migrations/0007_transaction.py
  backend/core/models.py
  backend/core/urls.py
  backend/lessons/management/commands/test_command.py
  backend/server/settings.py
  backend/server/urls.py
Labels: Backend, Feature

#87 Add downloading .env files from remote host, Redis service and some fixes
  .gitignore
  Jenkinsfile
  backend/.env.example
  docker-compose.yml
Labels: DevOps, Feature

#103 Fix backend service
  backend/entrypoint.sh
  docker-compose.yml
Labels: DevOps, Bugfix

#96 Frontend. Blue element with logo added
  frontend/src/app/components/sign-up/index.jsx
  frontend/src/app/components/splash-screens/index.jsx
  frontend/src/app/index.jsx
  frontend/src/app/layouts/index.jsx
  frontend/src/app/theme/style.scss
  frontend/src/assets/public/signUpLogo.svg
Labels: Frontend, Feature

#110 change calendar page
  frontend/src/app/components/menu/index.jsx
  frontend/src/app/index.jsx
  frontend/src/app/pages/calendar/index.jsx
  frontend/src/app/pages/my-lessons/index.jsx
Labels: Frontend, Bugfix

#112 Add build status and remove wait-for
  Jenkinsfile
  backend/entrypoint.sh
Labels: Backend, DevOps, Bugfix, Feature

#113 Fix pipeline
  Jenkinsfile
Labels: DevOps, Bugfix

#106 search-lessons page
  frontend/src/app/components/lesson-card/index.jsx
  frontend/src/app/core/slices/lessons/filter.js
  frontend/src/app/pages/search-lessons/index.jsx
Labels: Frontend, Feature

#111 Add auth request
  frontend/src/app/components/lesson-card/index.jsx
  frontend/src/app/components/log-in/index.jsx
  frontend/src/app/components/logo/index.jsx
  frontend/src/app/components/logo/style.scoped.scss
  frontend/src/app/components/menu/index.jsx
  frontend/src/app/components/password-recovery/index.jsx
  frontend/src/app/components/sign-up/index.jsx
  frontend/src/app/core/slices/auth/login.js
  frontend/src/app/core/slices/auth/register.js
  frontend/src/app/core/slices/lessons/filter.js
  frontend/src/app/layouts/index.jsx
  frontend/src/app/layouts/profile/index.jsx
  frontend/src/app/pages/search-lessons/index.jsx
  frontend/src/app/pages/welcome/index.jsx
  frontend/src/app/theme/style.scss
Labels: Frontend, Bugfix

#107 Feature/ticket
  backend/lessons/app/handlers/lesson_handlers.py
  backend/lessons/app/http/requests/lesson_requests.py
  backend/lessons/app/repositories/lesson_repository.py
  backend/lessons/app/repositories/schedule_repository.py
  backend/lessons/app/services/lesson_service.py
  backend/lessons/models.py
  backend/lessons/urls.py
Labels: Backend, Feature

#129 Feature/work seeders
  backend/core/management/commands/seed.py
  backend/core/seeders/user_seeder.py
  backend/courses/seeders/course_seeder.py
Labels: Backend, Feature

#135 pages/lesson-details
  frontend/.eslintrc.js
  frontend/src/app/components/lesson-card/index.jsx
  frontend/src/app/components/lesson-description/index.jsx
  frontend/src/app/core/slices/lesson/getLesson.js
  frontend/src/app/core/slices/lesson/index.js
  frontend/src/app/core/store/index.js
  frontend/src/app/index.jsx
  frontend/src/app/pages/lesson-details/index.jsx
  frontend/src/app/pages/search-lessons/index.jsx
  frontend/src/app/services/lessons/index.js
  frontend/src/app/services/lessons/utils/index.js
Labels: Frontend, Feature

#144 Lesson handlers - prefetch_related
  backend/courses/app/handlers/course_handlers.py
  backend/courses/app/repositories/lesson_repository.py
Labels: Backend, Bugfix

#151 Multi Choice for level
  backend/core/app/utils/fields.py
  backend/courses/app/http/requests/course_requests.py
  backend/courses/app/services/course_service.py
  backend/courses/migrations/0008_alter_lesson_options_alter_course_level_and_more.py
  backend/courses/models.py
  backend/server/settings.py
Labels: Backend, Bugfix
