Repository athayogaio/pwa, pull requests merged in 2023-01, with the labels that each got.

#131 Lesson page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/lesson_alert/index.jsx
  frontend/src/app/components/lesson_create/index.jsx
  frontend/src/app/components/lesson_payment/index.jsx
  frontend/src/app/components/lesson_repeat/index.jsx
  frontend/src/app/index.jsx
  frontend/src/app/pages/create_lesson/index.jsx
  frontend/src/app/pages/my-lessons/index.jsx
Labels: Frontend, Feature

#141 Frontend. improve lesson-card
  frontend/src/app/components/lesson-card/index.jsx
  frontend/src/app/components/menu/index.jsx
  frontend/src/app/components/settings/index.jsx
  frontend/src/app/index.jsx
  frontend/src/app/pages/search-lessons/index.jsx
  frontend/src/app/pages/settings/index.jsx
  frontend/src/assets/public/avatarIcon.svg
Labels: Frontend

#159 Add tests
  .gitignore
  Jenkinsfile
  docker-compose.yml
  frontend/.dockerignore
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/.dockerignore
  frontend/tests/Dockerfile
  frontend/tests/cypress.config.js
  frontend/tests/cypress/e2e/password-recovery.cy.js
  frontend/tests/cypress/fixtures/example.json
  frontend/tests/cypress/support/commands.js
  frontend/tests/cypress/support/e2e.js
  frontend/tests/data/atha-users.js
  frontend/tests/entrypoint.sh
  frontend/tests/package-lock.json
  frontend/tests/package.json
  frontend/webpack.config.js
Labels: Frontend, DevOps, Feature

#168 Translations for models and admin JSONField.
  backend/Pipfile
  backend/Pipfile.lock
  backend/core/admin.py
  backend/core/apps.py
  backend/core/models.py
  backend/courses/admin.py
  backend/courses/apps.py
  backend/courses/models.py
  backend/server/settings.py
  backend/server/urls.py
Labels: Backend, Feature

#177 Add RabbitMQ and Flower services
  .gitignore
  backend/.env.example
  docker-compose.yml
Labels: DevOps, Feature

#179 Fix elasticsearch
  docker-compose.yml
Labels: DevOps, Bugfix

#167 teacher-form
  frontend/src/app/components/lesson-card/index.jsx
  frontend/src/app/components/settings/index.jsx
  frontend/src/app/pages/my-lessons/index.jsx
Labels: Frontend, Feature

#216 Fix/seed
  backend/courses/seeders/course_seeder.py
Labels: Bugfix

#217 Disable stopping pipeline after tests fail
  Jenkinsfile
Labels: DevOps, Bugfix

#222 Course question system
  backend/courses/app/handlers/question_handlers.py
  backend/courses/app/http/requests/course_requests.py
  backend/courses/app/http/resources/question_resources.py
  backend/courses/app/repositories/course_repository.py
  backend/courses/app/repositories/question_repository.py
  backend/courses/app/services/question_service.py
  backend/courses/migrations/0003_coursequestion_courseanswer.py
  backend/courses/models.py
  backend/courses/urls.py
Labels: Backend, Feature
